body{
  background-image:URL(batata.jpeg);
  font-family:Arial;
  text-align:center;
}
header{
  color:red;
  background-color:yellow;
  border-radius:10px;
  display:flex;
}
#img1{
  width:200px;
  border-radius:50%;
}
img{
  width:4px;
}
p{
  color:red;
  font-size:10px;
  font-style:italic;
}
#cardapio{
  background-color:black;
  border:medium dotted:red;
}
#preço{
  background-color:white;
  border:medium dotted:red;
}
div{
  display:flex;
}
h2{
  font-family:Cursive;
  font-size:10px;
}
#rodape{
  boder-radius:20px;
  background-color:red;
  display:flex;
}


















