@charset"UTF-8";
/*regra @charset caso haja problemas com a acentuação*/
body{
  background-image:URL(batata palaha);
  font-family:Arial;
  text-align:center;
}
header{
  color:red;
  background-color:yellow;
  border-radius:10px;
}
#im
 
