@charset"UTF-8";
/*regra @charset caso haja problemas com a acentuação*/
body{
  background-image:URL(batata palha);
  font-family:Arial;
  text-align:center;
}
header{
  color:red;
  background-color:yellow;
  border-radius:10px;
}
#img1{
  width:200px;
  border-radius:50%;
}
img{
  width:4px;
}
p{
  color:yellow;
  font-size:10px;
  font-style:italic;
}
div{
  background-color:white;
  border:medium dotted:red;
}
h2{
  font-family:Cursive;
  font-size:10px;
}
#rodape{
  boder-radius:5px;
  background-color:red;
}


















